*{
	margin: 0;
	padding: 0;
}
.box{
	width: 1000px;
	margin: 0 auto;
}
.btn{
	width: 40px;
	height: 80px;
	position: fixed;
	bottom: 30px;
	background: blue;
	left: 50%;
	margin-left: 500px;
}
.btn:hover{
	background: red;
}